/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
	font-family: "Outfit", sans-serif;
	margin: 0;
	background: linear-gradient(135deg, #1b1b32 0%, #3a3a5c 100%);
	min-height: 100vh;
	color: #333;
}

.navbar {
	background-color: #0a0a23;
	padding: 1rem 0;
}

.navbar-brand {
	font-size: 1.5rem;
	color: white;
	display: flex;
	align-items: center;
}

.navbar-brand .heading {
	color: #e94645;
	margin-right: 0.5rem;
}

.nav-link {
	color: rgba(255, 255, 255, 0.8) !important;
}

.nav-link:hover {
	color: white !important;
}

section {
	padding: 4rem 0;
}

.hero-title {
	font-size: 4rem;
	color: #fff;
	font-weight: 700;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hero-title .underline {
	text-decoration: underline;
	text-decoration-color: #e94645;
}

/* For mobile devices, adjust the font size */
@media (max-width: 768px) {
	.hero-title {
		font-size: 2rem;
	}
}

  
.card {
	border: none;
	border-radius: 15px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
}

.card:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.btn-primary {
	background-color: #e94645;
	border-color: #e94645;
}

.btn-primary:hover {
	background-color: #ff3131;
	border-color: #ff3131;
}

#about, #contact {
	background-color: #f8f9fa;
}

.footer {
	background-color: #0a0a23;
	color: white;
	padding: 2rem 0;
}

.author a {
	color: #e94645;
	text-decoration: none;
}

.author a:hover {
	color: #ff3131;
}

.social-icon {
	color: white;
	font-size: 1.5rem;
	margin: 0 0.5rem;
	transition: color 0.3s ease;
}

.social-icon:hover {
	color: #e94645;
}

.about-logo {
	max-width: 200px;
	border: 5px solid #e94645;
}

.certificate-animation {
	perspective: 1000px;
}

.certificate-animation img {
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.certificate-animation:hover img {
	transform: rotateY(10deg) rotateX(5deg);
}

@media (max-width: 768px) {
	.navbar-brand {
		font-size: 1.2rem;
	}
	
	section {
		padding: 2rem 0;
	}

	.about-logo {
		max-width: 150px;
	}
}
